**/.mcuxpressoide_packages_support
**/.metadata
**/AzureRTOS_TAD_logs
**/FreeRTOS_TAD_logs
**/ZephyrRTOS_TAD_logs
**/Debug
Remora-RT1052-cpp/Release/board/subdir.mk
Remora-RT1052-cpp/Release/component/lists/subdir.mk
Remora-RT1052-cpp/Release/component/serial_manager/subdir.mk
Remora-RT1052-cpp/Release/component/silicon_id/subdir.mk
Remora-RT1052-cpp/Release/component/uart/subdir.mk
Remora-RT1052-cpp/Release/device/subdir.mk
Remora-RT1052-cpp/Release/drivers/subdir.mk
Remora-RT1052-cpp/Release/lwip/contrib/apps/ping/subdir.mk
Remora-RT1052-cpp/Release/lwip/doc/subdir.mk
Remora-RT1052-cpp/Release/lwip/port/subdir.mk
Remora-RT1052-cpp/Release/lwip/src/api/subdir.mk
Remora-RT1052-cpp/Release/lwip/src/core/ipv4/subdir.mk
Remora-RT1052-cpp/Release/lwip/src/core/ipv6/subdir.mk
Remora-RT1052-cpp/Release/lwip/src/core/subdir.mk
Remora-RT1052-cpp/Release/lwip/src/netif/ppp/subdir.mk
Remora-RT1052-cpp/Release/lwip/src/netif/subdir.mk
Remora-RT1052-cpp/Release/makefile
Remora-RT1052-cpp/Release/mdio/subdir.mk
Remora-RT1052-cpp/Release/phy/subdir.mk
Remora-RT1052-cpp/Release/source/drivers/pin/subdir.mk
Remora-RT1052-cpp/Release/source/interrupt/subdir.mk
Remora-RT1052-cpp/Release/source/modules/blink/subdir.mk
Remora-RT1052-cpp/Release/source/modules/comms/subdir.mk
Remora-RT1052-cpp/Release/source/modules/digitalPin/subdir.mk
Remora-RT1052-cpp/Release/source/modules/encoder/subdir.mk
Remora-RT1052-cpp/Release/source/modules/nvmpg/subdir.mk
Remora-RT1052-cpp/Release/source/modules/pwm/softPwm.su
Remora-RT1052-cpp/Release/source/modules/pwm/spindlePwm.su
Remora-RT1052-cpp/Release/source/modules/pwm/subdir.mk
Remora-RT1052-cpp/Release/source/modules/stepgen/stepgen.su
Remora-RT1052-cpp/Release/source/modules/stepgen/subdir.mk
Remora-RT1052-cpp/Release/source/modules/subdir.mk
Remora-RT1052-cpp/Release/source/subdir.mk
Remora-RT1052-cpp/Release/source/thread/pruThread.su
Remora-RT1052-cpp/Release/source/thread/subdir.mk
Remora-RT1052-cpp/Release/source/thread/timer.su
Remora-RT1052-cpp/Release/source/thread/timerInterrupt.su
Remora-RT1052-cpp/Release/sources.mk
Remora-RT1052-cpp/Release/startup/startup_mimxrt1052.d
Remora-RT1052-cpp/Release/startup/startup_mimxrt1052.o
Remora-RT1052-cpp/Release/startup/startup_mimxrt1052.su
Remora-RT1052-cpp/Release/startup/subdir.mk
Remora-RT1052-cpp/Release/utilities/fsl_assert.d
Remora-RT1052-cpp/Release/utilities/fsl_assert.o
Remora-RT1052-cpp/Release/utilities/fsl_assert.su
Remora-RT1052-cpp/Release/utilities/fsl_debug_console.d
Remora-RT1052-cpp/Release/utilities/fsl_debug_console.o
Remora-RT1052-cpp/Release/utilities/fsl_debug_console.su
Remora-RT1052-cpp/Release/utilities/fsl_str.d
Remora-RT1052-cpp/Release/utilities/fsl_str.o
Remora-RT1052-cpp/Release/utilities/fsl_str.su
Remora-RT1052-cpp/Release/utilities/subdir.mk
Remora-RT1052-cpp/Release/xip/fsl_flexspi_nor_boot.d
Remora-RT1052-cpp/Release/xip/fsl_flexspi_nor_boot.o
Remora-RT1052-cpp/Release/xip/fsl_flexspi_nor_boot.su
Remora-RT1052-cpp/Release/xip/mimxrt1050_flexspi_nor_config.d
Remora-RT1052-cpp/Release/xip/mimxrt1050_flexspi_nor_config.o
Remora-RT1052-cpp/Release/xip/mimxrt1050_flexspi_nor_config.su
Remora-RT1052-cpp/Release/xip/subdir.mk
Remora-RT1052-cpp/.cproject
Remora-RT1052-cpp/.settings/language.settings.xml
Remora-RT1052-cpp/.settings/org.eclipse.cdt.managedbuilder.core.prefs
